.mainNav {
    position: absolute;
    height: 100%;
    background-color: #929292;
    width: 0px;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 0px 17px 5px;
}

.apareceNav{
    position: absolute;
    height: 100%;
    background-color: #929292;
    width: 1.5%;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 0px 17px 5px;
}

.aClose{
    font-size: x-large;
    color: white;
    float: right;
    padding-right: 15px;
}

.aOpen{
    float: right;
    padding-right: 2px;
    color: white;
    
}

.listMain {
    padding-left: 10px;
    color: white;
}

.listSub {
    padding-left: 25px;
    color: white;
    transition-duration: 0.5s;
}

.listSub:hover{
    color:black
}

.aTitulo{
    position: relative;
    font-size: x-large;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}

.noTitulo{
    padding-top: 25px;
}

.Titulo{
    padding-top: 40px;
}

.secciones{
    padding-top: 15px;
}