.mainNavV {
    position:fixed;
    height: 100%;
    background-color: white;
    width: 0px;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 0px 17px 5px;
}

.apareceNavV{
    position: fixed;
    height: 100%;
    background-color: white;
    width: 1.5%;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 0px 17px 5px;
}

.mainNavC {
    position:fixed;
    height: 100%;
    background-color: #000000;
    width: 0px;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 0px 17px 5px;
}

.apareceNavC{
    position: fixed;
    height: 100%;
    background-color: #000000;
    width: 1.5%;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 0px 17px 5px;
}

.mainNavA {
    position:fixed;
    height: 100%;
    background-color: #70d657a0;
    width: 0px;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 0px 17px 5px;
}

.apareceNavA{
    position: fixed;
    height: 100%;
    background-color: #70d657a0;
    width: 1.5%;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 0px 17px 5px;
}

.aCloseC{
    font-size: x-large;
    color: white;
    float: right;
    padding-right: 15px;
    font-weight: bold;
}

.aOpenC{
    float: right;
    padding-right: 2px;
    color: white;
    
}

.listMainC {
    padding-left: 10px;
    color: white;
}

.listSubC {
    padding-left: 25px;
    color: white;
    transition-duration: 0.5s;
}

.aTituloC{
    position: relative;
    font-size: x-large;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
}


.aCloseV{
    font-size: x-large;
    color: black;
    float: right;
    padding-right: 15px;
    font-weight: bold;
}

.aOpenV{
    float: right;
    padding-right: 2px;
    color: black;
    
}

.listMainV {
    padding-left: 10px;
    color: black;
}

.listSubV {
    padding-left: 25px;
    color: black;
    transition-duration: 0.5s;
}

.aTituloV{
    position: relative;
    font-size: x-large;
    padding-top: 10px;
    padding-left: 10px;
    color: black;
    font-weight: bold;
}

.noTitulo{
    padding-top: 25px;
}

.Titulo{
    padding-top: 40px;
}

.secciones{
    padding-top: 15px;
}